/.idea/
/backup/
/config/
/deploy-jars/
/download/
/front/
/logs/
/target/
/data-setore.jceks
data-setore.jceks
changesToEMAIL INFO.txt
replacetxt.txt
/src/logs/
*.log
*.jceks
/front2/node_modules/
.gitignore
/src/logs/
